{% load static %}
<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
<head>

   <link rel="stylesheet" href="{% static '/assets/css/bootstrap.css' %}" >
   <link rel="stylesheet" href="{% static '/assets/css/mdb.css' %}" >
    <link rel="stylesheet" href="{% static 'reseau/css/style.css' %}" />
   <title>{% block title %}Creer un compte{% endblock %}</title>
</head>

<h1>Créer un compte</h1>

{% if error %}
<p><strong>Incorrect.</strong></p>
{% endif %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form method="post" action=".">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-primary" type="submit" value="Se connecter" />
</form>

<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
</body>
</html>